*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container-masage{
    text-align: center;
    height: 100vh;
    width: 100%;

    
}
.contant-masage{
    /* background-color: blue; */
    border-radius: 15px;
    overflow: hidden;
    width: 70%;
    margin:5% auto;
    direction: ltr;
}
.masage-title{
    color: white;
    text-align: end;
    padding: 12px 25px;
    background-color: #e7592d;
    width: 100%;
    display: flex;
    align-items: center;
     justify-content:space-between;
    
}
.masage-icon,.masage-sama{
    font-size: 38px;
    width: 30px;
    height: 30px;
}
.masage-sama{
font-size: 20px;
width: 3%;
height: 4%;

}
.masage-well{
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 15px;
    width: 100%;
}
.masage-cound{
    text-align: end;
    direction: rtl;
    background-color: rgb(128, 123, 123);
    padding: 19px 22px;
}.masage-cound p{
    background-color: #e7592d;
    border-radius: 18px;
    padding: 12px 22px;
    color: white;
    width: fit-content;
}
.masage-mas{
    direction: rtl;
    background-color: rgb(240, 234, 234);
    outline: 0;
    border: none;
}
.masage-mas input{
    width: 80%;
    border-radius: 20px;
    margin: 8px 10px;
    outline: 0;
    border: none;
    text-align: start;
    font-size: 22px;
    padding: 7px 18px;
}
.masage-btn{
    background-color: #e7592d;
    width: 7%;
    height: 6%;
    border-radius: 50%;
    text-align: center;
    margin: auto;
    font-size: 27px;
    color: white;
}
@media (max-width: 991px) {
    /* .addtalb-form{
  width: 100%;
    flex-direction: column; */
  .contant-masage{
    width: 100%;
    padding: 0;
    margin: 0;
}
.masage-btn{
    font-size: 20px;
    width:9%;

font-size: 20px;}
}